<!DOCTYPE html>
<html lang="zxx">

<head>
    {% load static %}

    <title>{% block titulo %} Silpan  {% endblock titulo %}</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Bootstrap css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
    <!-- Font-Awesome-Icons-CSS -->
</head>

<div id="login" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-title">
                    <hr>
                    <h5 style="font-size: 30px; color: #050505; text-align: center "> SISTEMA SILPAN </h5>
                    <hr>
                    <h5 style="font-size: 17px; color: #b90202; text-align: center "> Controle de Vendas e Gerenciamento de Estoque </h5>

                </div>

                <div class="modal-body">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-form-label">Usuário</label>
                            <input type="text" class="form-control" placeholder=" " name="user" required="" id="user">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Senha</label>
                            <input type="password" class="form-control" placeholder=" " name="password" required=""
                                   id="password">
                        </div>
                        <div class="right-w3l">
                            <input type="submit" class="form-control" value="Entrar">
                        </div>
                        <div class="sub-w3l">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
