<tr class="rem1">
    <td class="invert">${count}</td>
    <td class="invert-image">
        <a href="../../templates/single.html">
            <img src=" ${item.image}" alt=" " class="img-responsive">
        </a>
    </td>
    <td class="invert">
        <div class="quantity">
            <div class="quantity-select">
                <div class="entry value-minus">&nbsp;</div>
                <div class="entry value">
                    <span>${item.quantity}</span>
                </div>
                <div class="entry value-plus active">&nbsp;</div>
            </div>
        </div>
    </td>
    <td class="invert">${item.item_name}</td>
    <td class="invert">R$ ${item.amount}</td>
    <td class="invert">
        <div class="rem">
            <div class="close1"></div>
        </div>
    </td>
</tr>